.header{
    background-color: #000407;
color: #3289cd;


}



.container{

    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 88%;
    
}



.navbar{

display: flex;
list-style: none;
width: 400px;
justify-content: space-around;

}


