body{ margin: 0;
padding: 0;
font-family: 'Exo 2', sans-serif;
    
}



.header{
    background-color: #000407;
color: #3289cd;
border-bottom: 3px solid #3289cd   ;

}



.container{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

    
}

.navbar{

display: flex;
list-style: none;
width: 400px;
justify-content: space-around;
align-items: center;

}
.navbar a{

    text-decoration: none;
    color: #E38062;

}

.banner{
background-image: url('bg-jelly-fish-para_outras_pags.png');
background-size: cover;
}

.banner .container{

height: 550px;
display: flex;
color: white;
align-items: center;


    
}


.banner p{
font-size: 35px;
width:  280px;
margin-left: 20%;
}

.footer{
background-color: #3289cd;
color: white;


}


.footer .container{

display: flex;
height: 150px;
justify-content: center;
align-items: center;

}

.agora{
font-weight: 900;


}



.card{
background-color: #E5E5E5;
color: #E60054;
width: 400px;
height: 350px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form{

    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 250px;
    
}
.card h2{
margin: 0 ;

}

.banner .container.login{
justify-content: center;


}
form label{
    margin-top: 8px;
}

form input {
margin-top: 8px;

outline: 3px solid #3289cd;
border: 0;
padding: 8px;
border-radius: 10px;

}

form button{

margin-top: 16px;
background-color: #E60054;

color: white;
padding: 10px 15px;
width: 120px;
align-self: center;
font-size: 18px;

border: 0;
border-radius: 5px;
cursor: pointer;
}


.sobre{
background-color: #E5E5E5;
height: 450px;
display: flex;
justify-content: center;



}

.missao{
width: 500px;
 margin-right: 50px;
margin-left: 2px;

}
.visao{

    width: 500px;
    margin-right: 50px;
   margin-left: 2px;


}
.visao .container{
    display: flex;
    flex-direction: column;
    
     align-items: center;
    
    
}
.valores{

    

    width: 500px;
    margin-right: 50px;
   margin-left: 2px;


}

.valores .container{

    display: flex;
    flex-direction: column;
     align-items: center;
    
    
}

.sobre img
{ width: 150px;
    margin-top: 80px;
}


.missao .container{
    display: flex;
flex-direction: column;

 align-items: center;




}

.sobre h2{

    color: #E60054;
}

.sobre p{

margin: 3px;
color: #292C34;
font-size: 22px;


}